/********************** 
* variable
***********************/
$raleway : 'Raleway', sans-serif;
$inter-l : 'inter-light', sans-serif;
$inter-r : 'inter-re', sans-serif;
$inter-m : 'inter-me', sans-serif;
$inter-sb : 'inter-semi', sans-serif;
$inter-b : 'inter-bold', sans-serif;

$spo-b : 'spoqa-bold', '돋움', dotum;
$spo-r : 'spoqa-regular', '돋움', dotum;
$spo-l : 'spoqa-light', '돋움', dotum;

$bgs : background-size;
$bdr : border-radius;
$ff : font-family;
$fs : font-size;

// colors
$dark : #28313b;
$black : #000000;
$red : #ea5858;
$blue : #009edc;
$line-color : #e2e2e2;
$green : #8da507;
$pink : #e856a9;
$orange: #ff6000;

// align
